Alias /wordpress "{{ wordpress_directory }}/"

<Directory {{ wordpress_directory }}/>
    Options +FollowSymlinks
    AllowOverride All
    <IfModule mod_dav.c>
    Dav off
    </IfModule>
</Directory>